target/
out/
tmp/
data/*.mv.db
data/*.trace.db
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Portal web Hostinger ###
web/hostinger/config.local.php
web/hostinger/data/*.db
web/hostinger/data/*.bak
web/hostinger/data/*.tmp
web/hostinger/data/fotos_pendientes/*
!web/hostinger/data/fotos_pendientes/.gitkeep
!web/hostinger/data/fotos_pendientes/.htaccess
